<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Pagamentos</h1>
</div>

  <div class="col-md-6">
      <table class="table">
          <thead class="thead-light">
              <tr>
                   <th style="width:500px;"></th>
                  <th>Data Pagamneto</th>
                  <th>Valor</th>
                  <th>CPF Cliente</th>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pd of service.list">

                  <td (click)="populateForm(pd)">{{pd.dataPagamento}}</td>
                  <td (click)="populateForm(pd)">{{pd.valor}}</td>
                  <td (click)="populateForm(pd)">{{pd.cpfCliente}}</td>


                  <td>
                      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.pagamentoId)"></i>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>


<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="clienteId" [value]="service.formData.pagamentoId" />
   <div class="form-row">
      <div class="form-group col-md-6">
          <label>Data Pagamento</label>
          <input class="form-control form-control-sd" placeholder="YYYY-MM-AA" name="dataPagamento"
              #dataPagamento="ngModel" [(ngModel)]="service.formData.dataPagamento"
              required [class.invalid]=" dataPagamento.invalid && dataPagamento.touched">
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Valor</label>
        <input class="form-control form-control-sd" pattern="^[a-zA-z0-9]+$" placeholder="Digite o valor" name="valor"
            #valor="ngModel" [(ngModel)]="service.formData.valor"
            required [class.invalid]="valor.invalid && valor.touched">
    </div>
  </div>
    <div class="form-row">
      <div class="form-group col-md-6">
          <label>Telefone</label>
          <input class="form-control form-control-sd" pattern="^[a-zA-z0-9]+$" placeholder="Digite o CPF" name="cpfCliente"
              #cpfCliente="ngModel" [(ngModel)]="service.formData.cpfCliente"
              required  [class.invalid]=" cpfCliente.invalid && cpfCliente.touched">
      </div>
    </div>

  <div class="form-row"></div>
  <div class="form-group col-md-2">
      <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">Cadastrar</button>
  </div>
</form>




